.budget-header {
  background-color: darkblue;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 50px;
}

.budget-container {
  padding: 40px;
}

.monthly-amount {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 5px;
}

.budget-btn {
  margin: 1.5em 0;
}

.budget-del-btn {
  margin: 0 5px;
}

.expense {
  width: 100%;
  margin: 5px 0;
}

.expenses {
  display: flex;
  flex-wrap: wrap;
}

.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.expense-title {
  font-weight: bold;
  font-size: larger;
}

.expense-amount {
  font-weight: bolder;
  font-size: larger;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.expense-card-title {
  display: flex;
  justify-content: space-between;
}

.new-expense-card {
  padding: 10px 0;
}
