.budget-header {
  background-color: darkblue;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 50px;
}

.budget-container {
  padding: 40px;
}

.budget-btn {
  margin: 1.5em 0;
}

.expense {
  margin: 20px 0;
}

.expenses {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.expense-header {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.new-expense-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
